aiohttp==2.3.10
asn1crypto==0.24.0
async-timeout==2.0.1
asyncio==3.4.3
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
Django==2.2.2
django-cleanup==3.2.0
django-cors-headers==3.0.2
djangorestframework==3.9.4
idna==2.8
idna-ssl==1.1.0
multidict==4.5.2
pycares==3.0.0
pycparser==2.19
pytz==2019.1
six==1.12.0
sqlparse==0.3.0
typing==3.7.4
whitenoise==4.1.2
yarl==1.2.0
