@import 'fonts.css';
@import 'https://tools-static.wmflabs.org/fontcdn/css?family=Lato:400,700,400italic,700italic&subset=latin';

h1.accounts,
h2.accounts,
h4.accounts {
  color: #54595d;
  font-weight: 200;
}

.ui.header.title {
  font-family: 'Charter';
  font-size: 5rem;
}

.ui.header.chart {
  font-family: 'Lato ', sans-serif;
  font-size: 2rem;
  font-weight: 200;
  color: #54595d;
  margin-top: 0rem;
  text-align: left;
  padding-left: 0.2rem;
}

.ui.header.name {
  font-family: 'Charter';
  font-size: 4rem;
}

.ui.single.line.table.user_table {
  border: none;
  padding: 0.5rem;
  padding-bottom: 2rem;
}

/* NavBar */

.ui.secondary.navbar.menu {
  background: #351e29;
}

.item.navbar_header {
  cursor: pointer;
  color: white !important;
  font-weight: bold !important;
  font-size: 20px !important;
}

.ui.button.navbar_buttons {
  background: #351e29 !important;
  color: white !important;
}

/* End of NavBar Styles */

/* About tool text */

.about_tool_text {
  color: black;
  font-size: 15px !important;
  font-weight: bold;
  text-align: center;
  margin-top: 5vh;
  margin-left: 15vw;
  margin-right: 15vw;
}

/* End of About tool text */

.ui.toggle.checkbox label {
  font-weight: bold;
  color: #351e29 !important;
}

.ui.card.stepper {
  border: none;
  box-shadow: 0px 0px 0px 0px;
}

.steps {
  cursor: pointer;
}

.step_line {
  stroke: lightgray;
  stroke-width: 2;
}

.ui.card.query_create,
.ui.card.query_add_filter {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25);
}

.ui.card.chart_container {
  width: 100%;
  padding: 10px;
  margin-top: 10px !important;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25);
}

.user_input {
  border: none;
  border-radius: 2px;
  /* background: #f5f5f5; */
  padding: 0.5rem 0.2rem;
  border-bottom: 3px solid #72777d;
  width: 95%;
  transition: 0.3s;
  font-size: 1.5rem;
  color: #000;
  outline: none;
}

.user_input:focus {
  background: #f5f5f5;
  outline: none;
  -webkit-appearance: none;
}

.user_input:hover {
  -webkit-appearance: none;
}

#messages {
  left: 10px !important;
  bottom: 30px !important;
  width: calc(100px + 20vw) !important;
  position: fixed !important;
  z-index: 1002 !important;
}

.drag_drop {
  background: #eaecf0;
  padding: 20px;
  color: #a2a9b1;
  font-weight: bold;
  width: '80%';
  text-align: center;
  font-size: 1.5rem;
  border: 2px dashed #c8ccd1;
  border-radius: 10px;
  cursor: pointer;
}

.divide {
  border: 0.4px solid rgb(214, 214, 214);
  margin: 10px;
}

.ui.icon.labeled.input.filter_input,
.ui.left.icon.input.filter_input,
.ui.left.icon.input.filter_input {
  width: 90% !important;
  margin: 10px;
}

.ui.icon.labeled.input.filter_input input,
.ui.left.icon.input.filter_input input,
.ui.left.icon.input.filter_input input {
  background: #f5f5f5;
  transition: 0.3s;
}

.ui.icon.labeled.input.filter_input input {
  width: 10%;
}

.code.branch.icon,
.users.icon,
.calendar.icon {
  color: #878dcd !important;
}

.ui.label.label {
  background: #00af89 !important;
  color: #fff;
  font-size: 0.8rem;
  border-right: 1px solid #14866d;
  font-weight: 400;
}

.ui.label.label:hover {
  color: white !important;
}

.ui.icon.labeled.input.filter_input input:focus,
.ui.left.icon.input.filter_input input:focus,
.ui.left.icon.input.filter_input input:focus {
  box-shadow: 1px 1px 10px 1px #b7bbf1 !important;
}

.ui.label.label {
  border-radius: 20px;
}

#start_date_input,
#end_date_input,
#status_input,
#project_input {
  border: none;
  padding: 12px;
}

#start_date_input,
#end_date_input {
  border-radius: 0px 20px 20px 0px;
}

#status_input,
#project_input {
  border-radius: 20px;
}

#status_input:focus,
#project_input:focus {
  box-shadow: 1px 1px 1px #888888;
}

.line.placeholder_line {
  height: 0px !important;
}

.notice {
  text-align: center;
  color: rgb(244, 100, 97);
  font-weight: bold;
}

.ui.button.table_row_add {
  float: right;
  background: #222 !important;
  color: white !important;
  padding: 17px !important;
  transition: 0.3s;
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 10px 0;
  font-size: 2rem;
  /* line-height: 1.428571429; */
  /* border-radius: 30px; */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.ui.button.table_row_add:hover,
.ui.button.continue:hover,
.ui.button.save_offline:hover {
  opacity: 0.8;
}

.ui.button.continue,
.ui.button.save_offline {
  float: right;
  background: #36c !important;
  color: white !important;
  padding: 17px !important;
  transition: 0.3s;
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 10px 0;
  font-size: 2rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.ui.single.line.table {
  overflow: auto;
  width: 100% !important;
}

.ui.button.reset {
  float: right;
  background: #d33 !important;
  color: white !important;
  padding: 17px !important;
  transition: 0.3s;
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 10px 0;
  font-size: 2rem;
  /* line-height: 1.428571429; */
  /* border-radius: 30px; */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.ui.button.reset:hover {
  opacity: 0.8;
}

.ui.button.query_search {
  padding: 10px !important;
  float: right;
  color: white !important;
  background: #878dcd !important;
  transition: 0.3s;
  border: 1px solid #878dcd;
}

.ui.button.query_search:hover {
  color: #878dcd !important;
  background: white !important;
}

.ui.button.back {
  color: white !important;
  background: #878dcd !important;
  border: 1px solid #878dcd;
  padding: 10px !important;
}

.ui.button.back:hover {
  color: #878dcd !important;
  background: white !important;
}

/* user activity */
.user_activity {
  text-align: center;
  width: 100%;
  padding: 10px;
  padding-bottom: 20px;
}

.day {
  background: rgb(227, 231, 229);
  border: 1px solid white;
  cursor: pointer;
  position: relative;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  padding: 5px;
}

.activity {
  display: inline-block;
  margin: 2px;
}

.day .tooltip {
  visibility: hidden;
  position: absolute;
  background: rgb(51, 51, 51);
  color: white;
  padding: 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 210px;
  border-radius: 2px;
  font-size: 12px;
  text-align: center;
  bottom: 150%;
  margin-left: -110px;
  z-index: 1;
  opacity: 0.7;
}

.day .tooltip::after {
  content: '';
  border-style: solid;
  border-width: 5px;
  top: 100%;
  left: 50%;
  position: absolute;
  opacity: 0.7;
  border-color: black transparent transparent transparent;
}

.day:hover .tooltip {
  visibility: visible;
}

/* End of user activity */

.ui.card.result {
  width: 100%;
}

.drop {
  padding-bottom: 10px;
  /* z-index: 100; */
}

#dropdown {
  width: 95%;
  font-size: 1.5rem;
  font-family: 'Lato ', sans-serif;
  padding: 10px;
  margin-top: 8vh;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25);
}

#dropdown:hover {
  border: 1px solid #bababa;
}

.input_dropdown {
  width: 95%;
  z-index: 1;
  border: none;
  padding: 5px;
}

.message_dropdown {
  background: white;
  text-align: center;
  padding: 5px;
  color: #888888;
}

.list_dropdown {
  padding: 10px;
}

.list_dropdown:hover {
  background: #d3d2d2;
  cursor: pointer;
}

.user_contribution_text {
  text-align: left;
  margin-left: 1%;
  font-weight: bold;
  font-size: 3rem;
}

.ui.icon.button.filters {
  left: 0px !important;
  margin-left: -3rem;
  float: left !important;
  background: #222 !important;
  color: white !important;
  padding: 17px !important;
  transition: 0.3s;
  text-align: center;
  font-size: 1.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.ui.icon.button.filters:hover {
  opacity: 0.8;
}

.ui.card.filter_view {
  background: #eaecf0;
  width: 80%;
  margin: 1rem;
  margin-top: -1rem;
  padding: 1rem;
  font-family: 'Lato ', sans-serif;
  font-size: 1.1rem;
}

.ui.button.apply_filters {
  font-family: 'Lato ', sans-serif;
  font-weight: 400;
  margin: 10px;
  float: right !important;
  background: #36c !important;
  color: white !important;
  padding: 12px !important;
  transition: 0.3s;
  text-align: center;
  font-size: 1.1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.ui.button.reset_filters {
  font-family: 'Lato ', sans-serif;
  font-weight: 400;
  margin: 10px;
  float: right;
  background: #d33 !important;
  color: white !important;
  padding: 12px !important;
  transition: 0.3s;
  text-align: center;
  font-size: 1.1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.left_arrow {
  position: fixed;
  left: 0;
  margin: 2rem;
  top: 25rem;
  z-index: 2;
}

.right_arrow {
  position: fixed;
  right: 0;
  z-index: 2;
  margin: 2rem;
  top: 25rem;
}

.ui.button.page_button {
  background: #36c !important;
  color: white !important;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.ui.icon.button.update_query {
  background: #222 !important;
  transition: 0.3s !important;
  float: left !important;
  color: white;
  z-index: 1;
  font-size: 1.5rem;
  opacity: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin-left: -50%;
}

.ui.icon.button.update_query:hover {
  opacity: 0.8;
}

.line.load_background {
  background: #f8f9fa !important;
}

.ui.fluid.placeholder.wide {
  height: 20px !important;
  margin: 10px !important;
}

.ui.fluid.placeholder.load {
  height: 30px !important;
  margin: 10px !important;
}

.ui.fluid.placeholder.csv_load {
  height: 70px !important;
  margin: 10px !important;
}

.ui.card.graph_load {
  margin-top: 10px !important;
  width: 100%;
}

.ui.fluid.placeholder.image_load {
  height: 25rem !important;
}

.dropdown_max_len {
  overflow-y: auto !important;
  max-height: 30vh !important;
}

.render_activity {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.contribution_text {
  color: rgb(80, 82, 81) !important;
  font-size: 14px !important;
  margin-right: 5px !important;
}

.info.circle.large.icon.info_csv {
  cursor: pointer;
  margin-bottom: 1px;
  float: right;
  color: #222;
}

.csv_add {
  text-align: center !important;
  color: white !important;
  background: #505251 !important;
}

.notFound {
  text-align: center !important;
  width: 100% !important;
}

.ui.card.commits_load {
  width: 100% !important;
  padding: 2% !important;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25) !important;
}

.ui.card.commits_load:not(.loading_card):hover {
  box-shadow: none !important;
  border: 1px solid #C3C4C4;
}

.ui.button.docs {
  background: #eaecf0 !important;
  color: #222 !important;
  padding-left: 10px !important;
  padding-right: 8px !important;
  margin-right: -25px;
}

.ui.button.info {
  background: #eaecf0 !important;
  color: #222 !important;
  margin-right: -15px !important;
}
