aiohttp==2.3.10
asn1crypto==0.24.0
async-timeout==2.0.1
attrs==19.1.0
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
Django==2.2.10
django-cleanup==3.2.0
django-cors-headers==3.0.2
django-environ==0.4.5
djangorestframework==3.9.4
idna==2.8
idna-ssl==1.1.0
multidict==4.5.2
numpy==1.16.4
pandas==0.24.2
pycparser==2.19
python-dateutil==2.8.0
pytz==2019.1
six==1.12.0
sqlparse==0.3.0
selenium==3.141.0
selenium-wire==1.0.11
typing-extensions==3.7.4
yarl==1.2.0
mysqlclient==1.3.13